.moving-images img {
    animation: moveUpDown 3s infinite alternate;
}

.moving-images:hover img {
    opacity: 0.7; /* Adjust the opacity as desired */
    transition: opacity 0.3s ease; /* Smooth transition for the opacity change */
}

@keyframes moveUpDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

#catsTable {
    display: none;
}
h1 {
    text-align: center;
}

.buttonContainer {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    margin-bottom: 20px; /* Add space at the bottom */
}

/* Style for buttons */
.toggleButton {
    width: 200px; /* Set the width */
    height: 50px; /* Set the height */
    font-size: 18px; /* Set the font size */
    background-color: grey; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    margin-right: 10px; /* Add space between buttons */
}

.toggleButton:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* style.css */

/* Set the canvas element to be the full size of the window */
canvas {
    width: 100%;
    height: 100%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    width: 100%;
    height: 600px;
}